.deck {
  justify-content: "center";
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.userlist {
  &--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buttonlist {
    font-weight: bold;
  }
}

.buttonlist {
  max-width: 24rem;

  &--marge:last-child {
    margin-bottom: 1rem;
  }
}
