.userlist {

    &--flex {
        display: flex;
        flex-direction: column;
    }

    &__buttonlist {
        font-weight: bold;
    }

}

.buttonlist {

    &--marge:last-child {
        margin-bottom: 1rem;
    }
    
}