.cardP {
  background-color: inherit;
  border: none;
  margin-bottom: 1rem !important;

  &__header {
    background-color: #a8436e;
    color: whitesmoke;
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0 0.75rem 0.75rem;
    display: flex;
    align-items: center;
  }

  &__header--left {
    text-align: left;
  }

  &__header--right {
    text-align: right;
  }

  &__header_icons {
    cursor: pointer;
    height: 48px;
    width: 48px;
    padding: 10px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    background-color: #42d88b;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
}
