@import url(https://fonts.googleapis.com/css?family=Audiowide);

.cdisplay {
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cFont {
  font-family: "Audiowide", cursive;
  // text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.2);
}
