.result {
    
    &__container {
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    &__graph {
        height: 80vw;
        max-height: 50vh;
    }

    &__title {
        font-size: x-large;
        text-align: center;
        text-shadow: 17px 9px 20px rgba(68,68,68,0.49);
    }

    &__emoji {
        font-size: 4rem;
        text-align: center;
    }
}

@media (min-width: 800px) { 
    .result .list-group {
        max-width: 720px!important;
        margin: auto;
    }
}